<header>
  <img src="assets/img/eu.jpeg" alt="Luan Gomes Galvão - Foto de Perfil" width="130px" height="130px" loading="eager">
  <h1>Luan Gomes Galvão</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Javascript | ReactJs | Angular | NodeJs | Typescript</p>
    <p>Santo André, São Paulo, Brasil</p>
    <p>Desenvolvedor Fullstack com mais de 1 ano de experiência, com ênfase em React.JS, Angular e Node.JS, com uma base
      sólida em JavaScript e
      Typescript. Minha experiência prática, juntamente com meu conhecimento, me
      permite criar aplicações front-end e back-end robustas e eficientes.</p>
  </div>

  <nav>
    <ul>
      <li>
        <a href="assets/pdf/CV.pdf" target="_blank" class="btn btn-primary">
          Donwload CV
        </a>
      </li>

      <li>
        <a href="https://www.linkedin.com/in/luan-gomes-galvão/" target="_blank" class="btn btn-secondary">
          LinkedIn
        </a>
      </li>
    </ul>
  </nav>

  <section>
    <figure>
      <img src="assets/icons/whatsapp.svg" alt="Ícone para contato do WhatsApp " width="22px" height="24px" />
      <figcaption>
        <a href="https://api.whatsapp.com/send?phone=5511966214780&text=Ol%C3%A1%20Luan,%20está%20disponível?"
          target="_blank">
          <strong> Envie uma mensagem para: </strong>
          <p>WhatsApp: (11) 9 6621-4780</p>
        </a>
      </figcaption>
    </figure>

    <figure>
      <img src="assets/icons/mail.svg" alt="Ícone para contato do e-mail" width="22px" height="24px" />
      <figcaption>
        <a href="mailto:luan.gomesdv@gmail.com" target="_blank">
          <strong> Envie um e-mail para: </strong>
          <p>luan.gomesdv&#64;gmail.com</p>
        </a>
      </figcaption>
    </figure>

  </section>
</aside>